{{define "title"}}Home{{end}}

{{define "content"}}
<h4><i>"This is my motherfucking website"</i> - José Rojo</h4>

<h3>Projects:</h3>
<div id="projects">
    {{range $_, $project := .Projects}}
    <a href="{{.URL}}">
        <div class="project"
             style="
                 background: #12141b; /* Simple fallback for IE */
                 background: linear-gradient(#1110, #111F), url('/resources/static/{{.Image}}')
            ">
            <p class="project_name">{{.Name}}</p>
        </div>
    </a>
    {{end}}
</div>
{{end}}
