{{define "title"}}Home{{end}}
{{define "content"}}
<h1>Welcome!</h1>
<div>
    <h3>Projects:</h3>
    <ul>
        <li><a href="https://j4rvcah.herokuapp.com">Cards against Humanity!</a></li>
        <li><a href="https://j4rv.github.io/risk-dice-roller/">Risk Dice Roller</a></li>
        <li><a href="https://j4rv.github.io/nonograms/">Nonograms~</a></li>
    </ul>
</div>
{{end}}