<style>
    body {
        font-family: Calibri, sans-serif;
        font-size: 1.2em;
        background-color: #191b22;
        color: #EEE;
    }

    h1 {
        margin-left: 20px;
    }

    a {
        color: #ee443b;
    }
</style>